@font-face {
	src: url('../fonts/PatrickHandSC.ttf');
	font-family: 'PatrickHandSC';
}

body {
	background-image: url('../img/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	font-family: 'PatrickHandSC';
}

.success_message {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -87.5px;
	margin-left: -350px;
	text-align: center;
	width: 600px;
	max-width: 600px;
	height: 75px;
	max-height: 75px;
	padding: 50px;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 25px;
	color: #001f4d;
}